header li {
    list-style: none;
}

header a {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}

header ul {
    display: flex;
    flex-direction: row;
    gap: 18px;
    margin-left: 127px;
}

header nav {
    background: rgba(27, 68, 54, 1);
    height: 50px;
    display: flex;
    align-items: center;
}

.banner p {
    font-size: 48px;
    font-weight: 600;
    font-family: 'Quicksand';
    color: rgba(255, 255, 255, 1);
    background: rgba(34, 82, 67, 0.8);
    padding: 8px 20px 8px 20px;
    margin-bottom: 123px;
}

.banner {
    background: url(/assets/img/fazenda.png) no-repeat center center;
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 85px;
}