.nav li {
    list-style: none;
    color: white;
}

.nav ul {
    display: flex;
    flex-direction: row;
    gap: 18px;
    margin-left: 127px;
}

.nav a {
    text-decoration: none;
    color: white;
    font-size: 14px; 
}

.nav {
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #1B4436;
}

.bannerTexto {
    color: white;
    font-size: 48px;
    font-weight: 600;
    background: rgba(34, 82, 67, 0.8);
    padding: 12px 50px 12px 50px;
}

.banner {
    background: url(../assets/img/fazenda.png);
    background-size: cover;
    background-position: center;
    height: 399px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}